* {
  margin: 0;
  padding: 0;
  /* border: none; */
}
/* header part design start */

.container {
  height: 100vh;
}

.header {
  max-width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

.left-part {
  position: relative;
  top: 60px;
  left: 80px;
  font-style: italic;
}

.right-part {
  position: fixed;
  top: 60px;
  right: 100px;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 10px;
  box-shadow: 0.5px 0.5px 50px rgb(235, 230, 230);
  border-radius: 30px;
}
.right-part input {
  width: 90px;
  padding: 5px 10px;
  background: transparent;
  border: none;
  outline: none;
}

.right-part input::placeholder {
  text-align: center;
}
.right-part i {
  margin-top: 5px;
}

/* header part design end  */

/* section 1 start */

.section1 {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section1 .image {
}

.section1 .image img {
  width: 600px;
}
.section1 .text h2 {
  font-size: 60px;
}

.section1 .text span {
  color: rgb(131, 122, 253);
}

.section1 .text button {
  padding: 10px 20px;
  width: 120px;
  color: white;
  background-color: rgb(59, 59, 59);
  border-radius: 50px;
  font-weight: bold;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.section1 .text button:hover {
  background-color: rgb(131, 122, 253);
  transition: 0.5s;
}

/* section 1 end */

/* section 2 start */
.section2 {
  width: 90%;
  margin: 200px auto 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 2px 2px 50px rgb(219, 217, 217);
}

.section2 .text {
  margin: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  font-family: myriad pro;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
  color: #323543;
}

.allCart {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
}
.singleCart {
  max-width: 250px;
  height: 350px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 10px;
  /* transition: 0.5s; */
}

.btn {
  background-color: rgb(131, 122, 253);
  color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 30px;
  position: relative;
  bottom: -60px;
  cursor: pointer;
  display: none;
}

.singleCart a {
  text-decoration: none;
  color: black;
}

.singleCart img {
  width: 90%;
}

.singleCart:hover {
  box-shadow: 2px 2px 30px rgb(192, 190, 190);
  border-radius: 10px;
  transition: 0.5s;
}

.singleCart:hover .btn {
  display: block;
}

.section3 {
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section3 .text {
  width: 30%;
}
.section3 .text h2 {
  font-size: 60px;
  font-weight: bold;
}

.section3 .text h4 {
  font-size: 30px;
}

.section3 .text span {
  color: rgb(131, 122, 253);
}
.section3 .image {
  width: 40%;
}

.section3 .text p {
  font-size: 18px;
  color: gray;
}
.section3 .image img {
  width: 600px;
}

/* section 5 start */

.section5 {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
}

.section5 h2 {
  font-size: 35px;
}

.section5 .input {
  margin: 30px auto;
  width: 500px;
  display: flex;
}

.section5 .input input {
  width: 100%;
  padding: 20px 40px;
  box-shadow: 0.5px 0.5px 50px rgb(235, 230, 230);
  border-radius: 30px;
  border: none;
  outline: none;
}

.section5 .input button {
  width: 120px;
  height: 30px;
  padding: 20px 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  /* position: relative; */
  margin-left: -128px;
  margin-top: 8px;
}

.footersection {
  background-color: rgb(10, 10, 10);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footersection p {
  text-align: center;
  color: white;
  font-size: 18px;
}
